.menu {
  position: fixed;

  background: white;
  border-radius: .5rem;
  padding: .5rem;
  height: fit-content;
  width: fit-content;

  box-shadow: 3px 4px 6px -3px rgba(0, 0, 0, 0.45);
  z-index: 11;
  isolation: isolate;
  border: 2px solid var(--main-border);
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.menu.left {
  transform: translateX(-100%);
  margin-left: -6px;
}